.navbar-lewagon {
  justify-content: space-between;
  background: #F4F1DE;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar h2 {
  font-family: "Limelight";
  font-weight: 700;
  font-size: 28px;
  color: #E07A5F;
  margin: 0;
}
